*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*header*/
.top-bar{
    width: 1200px;
    height: 6em;
    background-color: #7DDFF6;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
} 

.top-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.top-bar h1{
    color: #f5f5f5;
    font-size: 2em;

}
/*nav*/
.top-nav{
    width: 600px;
    height: 1em;
    margin-top: -0.5em;
    margin-left: 300px;
    background-color: #88C3FC;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}

.top-nav_menu{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
   
}
.nav-bar-link{
    text-decoration: none;
}
/*Main*/
.hr1{
    margin-top: 10px;
}

.main{
    width: 840px;
    margin-right: 10px;
}

.main .row {
    width: 1200px;
    height: auto;
    display: flex;
}
.main-col1{
    width: 840px;

}
.main-col1 h1{
    color:#FF9700 ;
}
.main-col2{
    width: 360px;
}
.hr2{
    margin-bottom: 10px;
}
/*Side*/

.side-content{
    display: inline-block;
}
.side-content-box{
    width: 360px;
    height: auto;
    border: 2px solid #908A84;
    overflow-wrap: break-word;
    margin-bottom: 2px;
    
}
.side-content-box .content{
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.side-content h1{
    width: 100%;
    background-color: #FF962F;
    border: 2px solid #1869D8;
    padding: 10px;
}

.side-content-box p{
    padding-bottom: 10px;
    
}
/*footer*/
.footer-menu{
    width: 1200px;
    height: 1.5em;
    background-color: #FFBA81;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}
.row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col1{
    width: 400px;
    margin-left: 330px;
    margin-right: 0;
    list-style: none;

}
.col1-cp{
    text-decoration: none;
}

.col{
    width: 800px;
 
}
.footer-menu-list{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
    margin-right: 350px;
    list-style: none;
}

body {
    width: 100%;
    height:  100%;
}

