*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*header*/
.top-bar{
    width: 1200px;
    height: 6em;
    background-color: #7DDFF6;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
} 

.top-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.top-bar h1{
    color: #f5f5f5;
    font-size: 2em;

}
/*nav*/
.top-nav{
    width: 600px;
    height: 1em;
    margin-top: -0.5em;
    margin-left: 300px;
    background-color: #88C3FC;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}

.top-nav_menu{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
   
}
.nav-bar-link{
    text-decoration: none;
}
/*Main*/

/*footer*/
.footer-menu{
    width: 1200px;
    height: 1em;
    background-color: #FFBA81;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}
.row{
   
    display: flex;
    justify-content: space-between;
    
}
.col1{
    width: 400px;
    margin-left: 330px;
    margin-right: 0;
    list-style: none;

}
.col1-cp{
    text-decoration: none;
}

.col{
    width: 800px;
 
}
.footer-menu-list{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
    margin-right: 350px;
    list-style: none;
}

body {
    width: 100%;
    height:  100%;
}

