*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    max-width: max-content;
    margin: auto;
    }
/*header*/
.top-bar{
    width: 1200px;
    height: 6em;
    background-color: #7DDFF6;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
} 

.top-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.top-bar h1{
    color: #f5f5f5;
    font-size: 2em;

}
/*nav*/
.top-nav{
    width: 600px;
    height: 1em;
    margin-top: -0.5em;
    margin-left: 300px;
    background-color: #88C3FC;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}

.top-nav_menu{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
   
}
.nav-bar-link{
    text-decoration: none;
}
/*Main*/
main {
    border-top: 1px solid #1480E8;
    border-bottom: 1px solid #1480E8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.hr2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    width: 1200px;
    height: auto;
    display: flex;
}
.main-col1{
    width: 840px;
    height: auto;
   
}
.main-col1 h1{
    color:#FF9700 ;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*Form*/
form .row1 {
    display: flex;
    height: auto;
}

input[type=text], select, textarea {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 5px 5px 5px 0;
    display: inline-block;
  }
input[type=date],select ,textarea{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col45 {
    width: 45%;
    margin-top: 6px;  }
  
  .col55 {
    width: 55%;
    margin-top: 6px;
  }

  .col45 label {
    width: 100% !important;
    text-align: right;
}

form .gender {
    display: flex;
}

form .gender label {
    width: auto;
}
.main-col2{
    width: 360px;
    margin-top: 10px;
    margin-bottom: auto;
}
/*table*/


.row2 h2{
    color: #FF9700;
    font-size: 20px;
    
}
.col01{
    width: 45%;
    text-align: right;
}

.col02{
    width: 10%;
}
.col03{
    width: 45%;
    
}
/*Side*/
.main-col2{
    margin-top: 0;
}
.side-content{
    display: inline-block;
   
}
.side-content-box{
    width: 360px;
    height: auto;
    border: 2px solid #908A84;
    overflow-wrap: break-word;
    margin-bottom: 5px;
    
}
.side-content-box .content{
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.side-content h1{
    width: 100%;
    background-color: #FF962F;
    border: 2px solid #1869D8;
    padding: 10px;
}

.side-content-box p{
    padding-bottom: 10px;
    
}
/*footer*/
.footer-menu{
    width: 1200px;
    height: 1.5em;
    background-color: #FFBA81;
    border-radius: 1%;
    box-shadow: 5px 5px 5px rgba(119, 116, 116, 0.3);
}
.row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col1{
    width: 400px;
    margin-left: 330px;
    margin-right: 0;
    list-style: none;

}
.col1-cp{
    text-decoration: none;
}

.col{
    width: 800px;
 
}
.footer-menu-list{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
    margin-right: 350px;
    list-style: none;
}

body {
    width: 100%;
    height:  100%;
}


.row2 {
    display: flex;
}

.row2 .col01 .list1 {
    height: auto;
    padding: 2px 4px 4px 4px;
    border: 1px solid #ccc;

}

.row2 .col01 .list1 .item {
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    text-align: left;
    background-color: #FFEE76;
    padding: 2px;
}

.row2 .col03.list2 {
    height: auto;
    padding: 2px 4px 4px 4px;
    border: 1px solid #ccc;

}

.row2 .col03 .list2 .item {
    width: 100%;
    height: 26px;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    text-align: left;
    background-color: #FFEE76;
    padding: 2px;
}
